:root{
    font-size: 12px;
    --miColor: pink ; /*varialbe   getRoot()*/
    
}
body{
    font-size: 10px;
}


.mi-contenedor{
    /*background-color: orange;*/
    background-color: var(--miColor);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(2,350px);
}


.first{
    font-size: 1em; /*contenedor*/
}
@media(max-width:500px) and (orientation:portraint){
    .mi-contenedor{
    background-color: aqua;
    grid-template-columns: repeat(3, 1 fr);
    grid-template-rows: max-content;
    
    }
    }
/*
*/